@charset "UTF-8";

/* INICIO RESET GLOBAL */

/* Paleta de colores */
:root {
  --Transparent: #ffffff00;
}
/* Fin de Paleta de colores*/

/* Barra de scroll personalizada
::-webkit-scrollbar {
  width: auto;
}
::-webkit-scrollbar-track {
  background: linear-gradient(90deg, var(--Black5) 0%, var(--Black4) 50%, var(--Black5) 100%);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, var(--Orange) 0%, var(--Orange3) 50%, var(--Orange) 100%);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
Fin de Barra de scroll personalizada */

/* Selector universal */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}
/* Fin */

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
/* Fin */

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
/* Fin */

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}
/* Fin */

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}
/* Fin */

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}
/* Fin */

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
/* Fin */

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
/* Fin */

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--Orange);
  color: var(--White);
}
::selection {
  background-color: var(--Orange);
  color: var(--White);
}
/* Fin */

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* Fin */

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Fin */

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: var(--Texts);
}
/* Fin */

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  background-color: var(--White5);
  color: var(--Black2);
}
/* Fin */

/* FIN RESET GLOBAL */

.header {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  padding-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;
}
.header__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.header__h1 {
}
.header__img {
  width: 150px;
  height: 40px;
}
.header__wrapper--normal {
  margin: auto;
  width: 97%;
}
.header__wrapper--wider {
}
.menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
}
.menu__li {
  color: #ffffffcc;
}
.menu__li:hover {
  color: #ffffff;
}
.menu__a {
}
.menu__login {
}
.login {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  gap: 0.5rem;
}
.menu__nav {
}
.login__svg--cart {
  width: 1.75rem;
  height: 1.75rem;
  fill: #ffffff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.login__svg--user {
  width: 1.75rem;
  height: 1.75rem;
  fill: #ffffff;
}
.login__svg--cart:hover {
  width: 1.75rem;
  height: 1.75rem;
  fill: #ff4020;
}
.login__svg--user:hover {
  width: 1.75rem;
  height: 1.75rem;
  fill: #ff4020;
}
.login__a {
  padding: 0.5rem;
}
.menu__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  gap: 1.875rem;
}
.navmenu {
  backdrop-filter: blur(60px) saturate(100%);
  padding: 0.5rem;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  position: relative;

  opacity: 1;
}
.navmenu__a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;

  gap: 8px;

  padding: 1rem;
}
.navmenu__a:hover {
  .navmenu__svg--arrow {
    fill: #ffffff;
  }
}
.navmenu__li {
}
.navmenu__search {
  background: linear-gradient(10deg, #ff8000, transparent) #ff4020;
  width: 4.25rem;
  height: 4.25rem;

  padding: 1.5rem;

  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;

  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;

  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;

  z-index: 1;
}
.navmenu__search:hover {
  .navmenu__svg--magnify {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}
.navmenu__search.is--active {
  width: 100%;
  background: linear-gradient(10deg, #ff8000, transparent) #ff4020;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  cursor: auto;

  gap: 1rem;
}
.navmenu__input,
.navmenu__advanced {
  display: none;
  white-space: nowrap;
}
.navmenu__input.is--active {
  display: block;
  width: 100%;
  outline: none;
  color: white;
}
.navmenu__advanced.is--active {
  display: block;
  white-space: nowrap;
  color: white;
  font-size: 0.8125rem;
}

.navmenu__span {
  color: white;
}
.navmenu__svg--arrow {
  width: 0.75rem;
  height: 0.75rem;
  fill: #999999;
}
.navmenu__svg--magnify {
  width: 1rem;
  height: 1rem;
  fill: white;

  margin: auto;

  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.navmenu__svg--close {
  width: 2rem;
  height: 2rem;
  fill: white;
  pointer-events: none;

  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.navmenu__close {
  display: none;
}
.navmenu__close.is--active {
  display: block;
  position: absolute;
  top: calc(50% - (48px / 2));
  right: -7%;

  cursor: pointer;

  padding: 0.5rem;
  z-index: 1;
}
.navmenu__close.is--active:hover {
  .navmenu__svg--close {
    fill: #ff4020;
  }
}
.navmenu__svg--magnify.is--hidden {
  display: none;
}
.navmenu__svg--nintendo {
  width: 1.25rem;
  height: 1.25rem;
  fill: white;
}
.navmenu__svg--pc {
  width: 1.25rem;
  height: 1.25rem;
  fill: white;
}
.navmenu__svg--ps {
  width: 1.25rem;
  height: 1.25rem;
  fill: white;
}
.navmenu__svg--xbox {
  width: 1.25rem;
  height: 1.25rem;
  fill: white;
}
.navmenu__ul {
  padding-right: 4.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.parallax__picture {
}
.background__div {
  clip-path: polygon(0% 90%, 0% 0%, 100% 0%, 100% 100%);
}
.background__a {
}

.trends__section {
  width: 100%;
  min-height: 50vh;
}
