@charset "UTF-8";

/* INICIO RESET GLOBAL */

/* Paleta de colores */
:root {
  --Transparent: #ffffff00;
  --color-white: #fff;
  --main-color: #ff5400;
  --main-color-hover: #ff4020;
  --color-link-hover: #ffa700;
  --color-very-light: #b7b7b7b;
  --color-light: #999;
  --color-medium-light: #6d6d6d;
  --color-medium: #3d3d3d;
  --color-medium-dark: #323232;
  --color-dark: #272727;
  --color-very-dark: #1d1d1d;
  --color-ultra-dark: #101010;
  --color-placeholder: #ffb17d;
  --fire-gradient: linear-gradient(10deg, #ff8000, transparent) #ff4020;
  --fire-gradient-hover: linear-gradient(190deg, #ff2020, #ff8000);
}
/* Fin de Paleta de colores*/

/* Selector universal */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}
/* Fin */

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}
/* Fin */

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
/* Fin */

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}
/* Fin */

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}
/* Fin */

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}
/* Fin */

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
strong {
  font-weight: 700;
}
/* Fin */

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
/* Fin */

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  /* background-color: var(--Orange);
  color: var(--White); */
}
::selection {
  /* background-color: var(--Orange);
  color: var(--White); */
}
/* Fin */

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* Fin */

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Fin */

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: var(--color-white);
}
/* Fin */

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100svh;
  font-size: 100%;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  background-color: var(--color-dark);
  color: var(--color-white);
}
/* Fin */

/* FIN RESET GLOBAL */
.normal__wrapper {
  margin: auto;
  width: 97%;
}
.narrow__wrapper {
  margin: auto;
  width: 65%;
}
.header {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  padding-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;
}
.header__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.header__h1 {
  z-index: 2;
}
.header__img {
}
.header__a {
  width: 150px;
  height: 40px;
}
.header__wrapper {
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  gap: 0.5rem;
}
.menu__li {
  color: #ffffffcc;
}
.menu__li:hover {
  color: var(--color-white);
}
.menu__a {
}
.menu__login {
}
.login {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  gap: 0.5rem;
}
.menu__nav {
}
.login__svg--cart {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-white);
  transition: all 0.3s ease;
}
.login__svg--user {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-white);
}
.login__svg--cart:hover {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--main-color-hover);
}
.login__svg--user:hover {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--main-color-hover);
}
.login__a {
  padding: 0.5rem;
  z-index: 1;
}
.menu__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  gap: 1.875rem;
}
.navmenu {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  gap: 1rem;

  padding: 0.5rem;
  border-radius: 4rem;
}
.navmenu__a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;

  gap: 8px;

  padding: 1rem;
}

.navmenu__li {
}
.navmenu__li:hover {
  .navmenu__svg--arrow {
    opacity: 1;
  }
}
.navmenu__search {
  background: linear-gradient(10deg, #ff8000, transparent) #ff4020;
  background: var(--fire-gradient);
  width: 4.25rem;
  height: 4.25rem;

  padding: 1.5rem;

  border-radius: 3rem;

  transition: width 0.3s ease;

  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;

  z-index: 1;
}
.navmenu__search:hover {
  .navmenu__svg--magnify {
    transform: scale(1.2);
  }
}
.navmenu__search.is--active {
  width: 100%;
  background: var(--fire-gradient);

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  cursor: auto;

  gap: 1rem;
}
.navmenu__input,
.navmenu__advanced {
  display: none;
  white-space: nowrap;
}
.navmenu__input::placeholder {
  color: var(--color-placeholder);
  font-size: 1.0625rem;
}
.navmenu__input.is--active {
  display: block;
  width: 100%;
  outline: none;
  color: var(--color-white);
}
.navmenu__advanced.is--active {
  display: block;
  white-space: nowrap;
  color: var(--color-white);
  font-size: 0.8125rem;
}

.navmenu__span {
  color: var(--color-white);
}
.navmenu__span.is--hidden {
  color: var(--color-medium-light);
}
.navmenu__svg--arrow {
  width: 0.75rem;
  height: 0.75rem;
  fill: var(--color-white);
  opacity: 0.4;
}
.navmenu__svg--magnify {
  width: 1rem;
  height: 1rem;
  fill: var(--color-white);

  margin: auto;

  transition: all 0.3s ease;
}
.navmenu__svg--close {
  width: 2rem;
  height: 2rem;
  fill: var(--color-white);
  pointer-events: none;

  transition: all 0.3s ease;
}
.navmenu__close {
  display: none;
}
.navmenu__close.is--active {
  display: block;
  position: absolute;
  top: calc(50% - (48px / 2));
  right: -7%;

  cursor: pointer;

  padding: 0.5rem;
  z-index: 1;
}
.navmenu__close.is--active:hover {
  .navmenu__svg--close {
    fill: var(--main-color-hover);
  }
}
.navmenu__svg--magnify.is--hidden {
  display: none;
}
.navmenu__svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--color-white);
}
.navmenu__svg.is--hidden {
  fill: var(--color-light);
}
.navmenu__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  backdrop-filter: blur(60px) saturate(100%);
  padding: 0.5rem 5rem 0.5rem 1rem;
  border-radius: 4rem;
  position: relative;

  z-index: 2;
}
.submenu {
  display: none;
}
.submenu.is--active {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  backdrop-filter: blur(60px) saturate(100%);
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 0 125rem rgba(16, 16, 16, 0.6);
  z-index: 1;
}
.submenu__category {
  display: none;
}
.submenu__category.is--active {
  display: block;
}
.submenu__platforms {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 8px;

  color: var(--color-white);
  background-color: #ffffff20;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}

.submenu__gifts {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 8px;

  color: var(--color-white);
  background-color: #ffffff20;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}

.submenu__link {
}
.submenu__arrow {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--color-white);
}
.submenu__grid {
}
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  padding: 1rem 0.5rem;
}
.grid__li {
  width: 100%;
}
.grid__li:hover {
  background-color: #ffffff20;
  border-radius: 32px;
}
.grid__link {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem;
  color: var(--color-white);
  white-space: nowrap;

  cursor: pointer;
}
.grid__img {
  width: auto;
  height: 35px;
}
.grid__name {
}
.flex {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  padding: 1rem 0;
}
.flex__li {
  width: 100%;
}
.flex__link {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  padding: 0.25rem 1rem;

  white-space: nowrap;
}
.flex__link:hover {
  background-color: #ffffff20;
  border-radius: 8px;
}
.flex__img {
  width: auto;
  height: 35px;
}
.flex__name {
  color: var(--color-white);
}

.main {
  width: 100%;
  min-height: 100svh;
}
.parallax__picture {
}
.background__div {
  clip-path: polygon(0% 90%, 0% 0%, 100% 0%, 100% 100%);
}
.background__a {
}

.trends__section,
.reservations__div {
  width: 100%;
  min-height: 75svh;
}

.trends__wrapper,
.reservations__wrapper {
}
.trends__column,
.reservations__column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
.trends__link,
.reservations__link {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.trends__svg,
.reservations__svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.5rem;
  fill: var(--color-medium-light);
}
.trends__h2,
.reservations__h2 {
  font-size: 2rem;
  font-weight: 500;
}
.trends__container,
.reservations__container {
}
.listing {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.listing__li {
  padding-bottom: 1rem;
  transition: all 0.3s ease;
}
.listing__li:hover {
  .listing__link {
    transform: scale(1.1);
  }
  .listing__img {
    opacity: 0;
  }
  .listing__video {
    opacity: 1;
  }
}

.listing__article {
  width: fit-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.listing__link {
  position: relative;
  transition: all 0.3s ease;
}

.listing__img {
  border-radius: 10px;
  transition: all 0.3s ease;

  opacity: 1;
}
.listing__video {
  border-radius: 10px;

  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;

  transition: all 0.3s ease;

  opacity: 0;
}
.listing__discount {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  border-radius: 5px 6px 0;
  padding: 5px 6px 6px 7px;
  z-index: 2;
  font-weight: 500;
}
.listing__discount::after {
  transform: skewX(16deg);
  width: 100%;
  border-radius: 6px 3px;
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  bottom: 0;
  right: -4px;
  z-index: -1;
}
.listing__info {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}
.listing__name {
}
.listing__price {
  font-size: 1.5em;
}

.listing__reservation {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  gap: 0.5rem;
}
.listing__order {
  font-size: 11px;
  color: #448eef;
  padding: 0.25rem;
  border: 1px solid #448eef;
  border-radius: 3px;
}
.listing__date {
  font-size: 13px;
  color: #448eef;
}

.trust__section {
  width: 100%;
  min-height: 10svh;
  margin: 3rem 0;
  background-color: var(--color-ultra-dark);
}
.trust__wrapper {
}
.trust__contain {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 1.25rem 0;
}
.trust__li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}
.trust__separator {
  width: 1px;
  height: 70px;
  background-color: var(--color-medium-dark);
}
.trust__svg {
  width: 2rem;
  height: 2rem;
  fill: var(--main-color);
}
.trust__texts {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;

  gap: 0.25rem;
}
.trust__maintext {
  font-size: 23px;
  font-weight: 500;
  color: var(--color-white);
}
.trust__subtext {
  font-size: 15px;
  color: var(--color-light);
}
.trust__link {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;

  gap: 0.5rem;
}
.trust__title {
  width: 8rem;
  height: auto;
}
.trust__stars {
  width: 13rem;
  height: auto;
}
.trust__score {
  font-size: 14px;
}

.partner__section {
  width: 100%;
  margin: 3rem 0;
  background-color: var(--color-medium-dark);
}
.partner__wrapper {
}
.partner__container {
  width: 100%;
  min-height: 35svh;
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.partner__img {
  width: 17.5rem;
  height: 22.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.partner__column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  margin: 3rem 0 3rem 20rem;

  gap: 2rem;
}
.partner__stars {
  width: 100px;
  height: 15px;
}
.partner__p {
  color: var(--color-light);
  font-size: 19px;
  text-align: center;
}
.partner__btn {
  padding: 1.2rem 1.5625rem;
  background: var(--fire-gradient);
  border-radius: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
}

.comments__container {
  width: 100%;
  min-height: 20svh;
  background-color: var(--color-dark);
}
.comments__wrapper {
}
.comments__ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  gap: 2rem;
}
.comments__li {
  width: fit-content;
  height: fit-content;
  background-color: var(--color-medium-dark);
  padding: 1rem;

  border-radius: 0.625rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

  gap: 1rem;
}
.comments__user {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
}
.comments__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.comments__info {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;

  gap: 0.5rem;
}
.comments__stars {
  width: 80px;
  height: 12px;
}
.comments__link {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.comments__column {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

  gap: 2rem;
}
.comments__p {
}
.comments__span {
}
